nav {
  margin-top: 50px;
  .logo__stuff {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 80px;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logo {
      width: 175px;
      height: 30px;
      padding-top: 0px;
      margin-left: -200px;
    }
    .search__bar {
      .search {
        width: 600px;
        height: 40px;
        border-radius: 40px 40px 40px 40px;
        color: #495057;
        background-color: rgb(243, 243, 243);
        background: url(../images/searchIcon2Blue.svg) 20px center no-repeat;
        padding-left: 55px;
      }
    }
    .cart {
      margin-top: 0px;
      display: flex;
      // .profile {
      // }
      .shoppingCart {
        // position: relative;
        height: 30px;
        width: 30px;
        background-image: url(../images/keurig-cart.svg);
        margin-left: 30px;
        background-repeat: no-repeat;
      }
    }
  }
  .nav__elements {
    width: 75%;
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 60px;
  }
}
@media only screen and (max-width: 991px) {
  nav {
    width: 991px;
    margin-bottom: 200px;

    .logo__stuff {
      .logo {
        margin-left: 190px;
        margin-right: -200px;
      }
      .search__bar {
        margin-top: 100px;
        margin-left: -265px;
        height: 40px;
        .search {
          height: 100%;
          border-radius: 0px;
          padding: 0px 0px 0px 10px;
          font-size: 14px;
          background-color: rgb(243, 243, 243);
          background-image: none;
        }
      }
      .cart {
        margin-top: 0px;
        margin-left: -100px;
        display: flex;
        // .profile {
        // }
        .shoppingCart {
          // position: relative;
          height: 30px;
          width: 30px;
          background-image: url(../images/keurig-cart.svg);
          //margin-left: 30px;
          background-repeat: no-repeat;
        }
      }
    }
    .nav__elements {
      display: none;
    }
  }
}
